# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=sumbenz
DB_PASSWORD=sumbenz2806
DB_NAME=su_booking_room

# Backend Configuration
PORT=8000

# Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000
NODE_ENV=development
